**/.DS_Store/
**/.project
**/.settings
**/.classpath
**/target/
springstage-web/.factorypath
springstage-web/.springBeans
!/bin/gen_migrate_mac.sh
!/bin/gen_migrate.bat
!/bin/gen_migrate.sh
/springstage-web/data/
/springstage-core/data/
/springstage-web/src/main/webapp/webupload/
.idea/
**/*.iml
**/*.ipr
**/*.iws
springstage-web/src/main/resources/application.
springstage-web/src/main/resources/import.sql
logs/
application.pid
**/%APPDATA%/
**/out/
