<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppm.mapper.BulletMapper">
  <resultMap id="BaseResultMap" type="com.ppm.entity.Bullet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, type, activity_id, create_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bullet
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultType="com.ppm.entity.Bullet">
    SELECT
      a.id,
      a.title,
      b.title activityName,
      a.type,
      a.activity_id activityId,
      a.create_time createTime
    FROM
      bullet a,
      activity b
    where a.activity_id = b.id  and a.is_deleted=0
    <if test="title!=null">
      and b.title like concat ('%',#{title},'%')
    </if>
    <if test="activityId!=null">
       and a.activity_id = #{activityId}
    </if>
  </select>

  <select id="findBullet" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bullet
    where activity_id=#{activityId} and is_deleted=0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bullet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ppm.entity.Bullet">
    insert into bullet (title, type,user_id,activity_id,
      create_time, is_deleted)
    values (#{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},
      #{activityId},#{createTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ppm.entity.Bullet">
    insert into bullet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ppm.entity.Bullet">
    update bullet
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ppm.entity.Bullet">
    update bullet
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>