<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppm.mapper.WxFriendMapper">
  <resultMap id="BaseResultMap" type="com.ppm.entity.WxFriend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wx_member_id" jdbcType="INTEGER" property="wxMemberId" />
    <result column="wx_member_friend_id" jdbcType="INTEGER" property="wxMemberFriendId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, wx_member_id, wx_member_friend_id, content, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_friend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--聊天列表-->
  <select id="chatList" resultType="com.ppm.entity.WxFriend">
    SELECT
        a.wx_member_friend_id wxMemberFriendId,
        a.wx_member_id wxMemberId,
        a.content,
        a.create_time createTime,
        b.nick_name nickName,
        b.head_img headImg
    FROM
        wx_friend a,
        wx_member b
    WHERE
        a.wx_member_id = b.id
    AND ((wx_member_id = #{wxMemberId} and wx_member_friend_id = #{wxMemberFriendId})
    or (wx_member_id = #{wxMemberFriendId} and wx_member_friend_id = #{wxMemberId}))
    ORDER BY a.create_time desc limit 20
  </select>

  <!--好友列表-->
  <select id="friendList" resultType="com.ppm.entity.WxFriend">
    SELECT * from (
      select
		a.wx_member_friend_id wxMemberFriendId,
		(select content from wx_friend where (wx_member_id=a.wx_member_id or wx_member_id=a.wx_member_friend_id)
        and (wx_member_friend_id = a.wx_member_id or wx_member_friend_id = a.wx_member_friend_id) ORDER BY create_time desc limit 1 ) content,
        (select create_time from wx_friend where (wx_member_id=a.wx_member_id or wx_member_id=a.wx_member_friend_id)
        and (wx_member_friend_id = a.wx_member_id or wx_member_friend_id = a.wx_member_friend_id) ORDER BY create_time desc limit 1 ) createTime,
            b.nick_name nickName,
        b.head_img headImg
    from
        friend a,
        wx_member b
    where
        a.wx_member_friend_id = b.id and wx_member_id= #{wxMemberId} limit 10) ww ORDER BY createTime desc
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wx_friend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ppm.entity.WxFriend">
    insert into wx_friend (wx_member_id, wx_member_friend_id,
      content, create_time)
    values (#{wxMemberId,jdbcType=INTEGER}, #{wxMemberFriendId,jdbcType=INTEGER},
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>


  <insert id="insertSelective" parameterType="com.ppm.entity.WxFriend">
    insert into wx_friend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wxMemberId != null">
        wx_member_id,
      </if>
      <if test="wxMemberFriendId != null">
        wx_member_friend_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wxMemberId != null">
        #{wxMemberId,jdbcType=INTEGER},
      </if>
      <if test="wxMemberFriendId != null">
        #{wxMemberFriendId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ppm.entity.WxFriend">
    update wx_friend
    <set>
      <if test="wxMemberId != null">
        wx_member_id = #{wxMemberId,jdbcType=INTEGER},
      </if>
      <if test="wxMemberFriendId != null">
        wx_member_friend_id = #{wxMemberFriendId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ppm.entity.WxFriend">
    update wx_friend
    set wx_member_id = #{wxMemberId,jdbcType=INTEGER},
      wx_member_friend_id = #{wxMemberFriendId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>